/* Variables */
:root {
  --basic-black: #323232;
  --basic-white: #ffffff;
  --basic-grey: #F8F7F4;
  --basic-dark-grey:#EDEDED;

  --basic-green: #849D8F;
  --basic-blue: #8996A6;
  --basic-brown: #9D8B84;

  --basic-pink: #D07058;
  --basic-pink-light: #F6B5A5;
  --basic-pink-extra-light: #FBDED7;

  --basic-red: #E84D37;
  --basic-red-light: #FFBC9E;
}

/* Global */

.page-body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-green);
  background-image: url("../img/ice-cream1.png");
}

.site-wrapper-2 {
  background-color: var(--basic-blue);
  background-image: url("../img/ice-cream2.png");
}

.site-wrapper-3 {
  background-color: var(--basic-brown);
  background-image: url("../img/ice-cream3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* grid */

.page {
  height: 100%;
}

/* main-header */

.main-header {
  width: 1146px;
  margin: 0 auto;
  display: grid;
  justify-content: start;
  padding: 9px 27px 0px 27px;
}

/* logo */

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

/* Main navigation */

.navigation-wrapper {
  width: 1146px;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: start;
}

.main-nav {
  display: grid;
  width: 968px;
  grid-template-columns: 1fr auto;
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a:not([href]) {
  background-color: var(--basic-pink);
  color: var(--basic-white);
}

.site-nav-link {
  display: block;
  color: var(--basic-white);
  padding: 7px 14px;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-navigation a:active {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

.site-nav-link::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-list {
  margin-right: 5px;
  margin-top: 13px;
}
/* Sub menu */

.catalog-list {
  position: relative;
}

.catalog-list:hover .sub-menu,
.catalog-list:focus .sub-menu {
  display: block;
  position: absolute;
}

.catalog-list-active {
  border-radius: 26px;
  background-color: var(--basic-pink);
  border: none;
}

.catalog-list-active::after {
  border: none;
}

.sub-menu {
  position: absolute;
  top: 36px;
  left: -6px;
  width: 143px;
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 1;
}

.sub-menu a{
  display: block;
  color: var(--basic-black);
  padding: 8px 20px;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: var(--basic-pink-extra-light);
  border-radius: 0;
}

.sub-menu a:active {
  background-color: var(--basic-pink-light);
}

.sub-new {
  position: relative;
  display: block;
  font-weight: bold;
  padding: 12px 0 12px 21px;
}

.sub-new::after {
  display: block;
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 6px;
  width: 128px;
  background-color: rgba(50, 50, 50, 0.2);
}
/* User navigation */

.user-navigation {
  display: flex;
  align-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right: -12px;
}

.user-navigation a{
  color: var(--basic-white);
}

.btn-search:hover,
.btn-search:focus,
.btn-enter:hover,
.btn-enter:focus,
.btn-basket:hover,
.btn-basket:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 20px;
}

.user-navigation-list {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-navigation-list:last-child {
  margin-right: 0;
}

/* Search */

.nav-search {
  position: relative;
}

.btn-search {
  width: 16px;
  height: 16px;
  display: block;
  padding: 8px;
}

.btn-search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/search-icon.svg);
}

.btn-search:hover::before,
.btn-search:focus::before{
  background-image: url(../img/search-icon-hover.svg);
}

.search {
  display: none;
  padding: 20px;
  position: absolute;
  right: -19px;
  top: 16px;
  z-index: 1;
}

.search-wrapper {
  padding: 20px 15px;
  background: var(--basic-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 313px;
}

.search input {
  width: 311px;
  height: 44px;
  padding: 15px;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
}

.nav-search:hover .search,
.nav-search:focus .search {
  display: block;
}

/* Enter */
.enter {
  display: none;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 20px;
  z-index: 1;
}

.enter .login-restore,
.enter .new-registration{
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-black);
  text-decoration: underline rgba(50, 50, 50, 0.3);
}

.nav-enter {
  position: relative;
}

.btn-enter {
  display: block;
  padding: 8px 16px 8px 44px;
  font-weight: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

.btn-enter::before {
  content: "";
  width: 20px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 6px;
  background-image: url(../img/enter-icon.svg);
}

.btn-enter:hover::before,
.btn-enter:focus::before {
  background-image: url(../img/enter-icon-hover.svg);
}

.nav-enter:hover .enter,
.nav-enter:focus .enter {
  display: block;
}

.login-form {
  width: 242px;
  background: var(--basic-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 20px 17px 22px 19px;
}

.login-form-item input{
  width: 241px;
  height: 44px;
  border: 1px solid #D3D3D2;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}

.btn-login {
  margin-right: 20px;
  border: none;
  padding: 15px 26px;
  border-radius: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.login-sumbit-restore {
  display: flex;
}

.login-restore {
  display: block;
  margin-bottom: 6px;
  margin-top: 2px;
}

/* basket */

.btn-basket {
  display: block;
  position: relative;
  padding: 8px 16px 8px 44px;
}

.btn-basket::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  left: 16px;
  top: 6px;
  background-image: url(../img/basket-icon.svg);
}

.basket-active {
  position: relative;
}

.btn-basket:hover::before,
.btn-basket:focus::before,
.basket-active .btn-basket::before {
  background-image: url(../img/basket-icon-active.svg);
}

.basket-active .btn-basket {
  background-color: var(--basic-white);
  border-radius: 20px;
  color: var(--basic-black);
}

.basket-active:hover .products-in-backet,
.basket-active:focus .products-in-backet,
.basket-wrapper:hover .products-in-backet,
.basket-wrapper:focus .products-in-backet {
  display: block;
}

.products-in-backet {
  display: none;
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-black);
  padding: 20px;
  z-index: 1;
}

.basket-wrapper {
  padding: 20px 34px 21px 21px;
  width: 485px;
  background: var(--basic-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.basket-item {
  list-style: none;
  display: grid;
  grid-template-columns: min-content max-content 1fr max-content min-content;
  padding: 0;
  margin: 0 0 20px;
  align-items: center;
}

.basket-item:last-of-type {
  margin-bottom: 18px;
}

.basket-item-img {
  margin-right: 13px;
  width: 33px;
  height: 33px;
}

.basket-item-img img{
  border-radius: 50%;
}

.basket-item-title {
  margin-right: 31px;
}

.btn-basket-delete {
  order: -1;
}

.btn-basket-delete a {
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 9px;
  background-image: url(../img/delete-button-small.svg);
}

.price-per-weight span{
  color: #ABABAB;
  margin-right: 26px;
}

.divider {
  width: 510px;
  height: 1px;
  background-color: #CACAC7;
  margin-bottom: 15px;
  margin-left: -5px;
}

.total-price-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.total {
  margin: 0 0 15px;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

 .btn-arrange {
  padding: 13px 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
}

.user-navigation .btn-arrange:hover,
.user-navigation .btn-arrange:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  color: var(--basic-white);
}

.user-navigation .btn-arrange:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* working hours */
.working-hours {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
}

.working-hours p {
  margin: 0 0 8px 0;
  padding: 0;
}

.working-hours a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.working-hours a:hover,
.working-hours a:active{
  color: var(--basic-red-light);
}

/* slider */

.slider {
  position: relative;
  padding-top: 275px;
  text-align: center;
  margin-bottom: 41px;
}

.slider-text {
  width: 672px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 24px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.btn-slider {
  display: inline-block;
  padding: 8px 23px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgb(160 32 11 / 76%);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  margin-left: -13px;
}

.btn-slider:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-slider:active {
  background: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 2px;
  z-index: 20;
  display: flex;
  width: 67px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: -12px;
}

.slider-controls button:hover,
.slider-controls button:focus {
  background: rgba(255, 255, 255, 0.4);
}

.slider-controls button:active {
  background-color: #ffffff;
}

.slider-controls .current {
  background-color: #ffffff;
}

/* Promotions */

.promotions {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.promotions-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promotion-item {
  width: 560px;
  height: 229px;
  border-radius: 16px;
}

.promo-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 16px;
  padding: 0;
}

.promo-text {
  margin: 0 30px 42px 16px;
  padding: 0;
}

.promotion-item:nth-child(1) {
  background-color: var(--basic-red);
  background-image: url(../img/raspberry-background.png);
  background-repeat: no-repeat;
}

.promotion-item:nth-child(2) {
  background-color: var(--basic-red);
  background-image: url(../img/chocolate-background.png);
  background-repeat: no-repeat;
}

.btn-promo {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgb(160 32 11 / 76%);
  padding: 12px 21px;
  align-self: flex-end;
  margin-right: 21px;
}

.promotion-item {
  display: flex;
  flex-direction: column;
}

/* Hit products */

.hit-products {
  font-weight: 500;
  display: grid;
  column-gap: 26px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 24px;
}

.hit-product-item,
.catalog-item {
  position: relative;
}


.hit-product-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  z-index: 2;
  background-image: url(../img/hit.png);
}

.hit-products a {
  color: var(--basic-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-product-item img {
  border-radius: 50%;
}

.product-title{
  text-align: center;
  margin-top: 8px;
  margin-left: 5px;
}

.price {
  position: absolute;
  left: 2px;
  top: 212px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price span{
  font-size: 30px;
  line-height: 35px;
}

.btn-fast-view {
  display: none;
  position: absolute;
  left: 32px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 16px;
}

.product-overlay {
  background-color: rgba(255, 255, 255, 0.2);;
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -74px;
  opacity: 0;
}

.overlay-content {
  position: relative;
}

.hit-product-item:hover,
.catalog-item:hover {
  z-index: 1;
}

.hit-product-item:hover .product-overlay,
.catalog-item:hover .product-overlay {
  opacity: 1;
}

.hit-product-item:hover .btn-fast-view,
.catalog-item:hover .btn-fast-view {
  display: block;
}

/* features */

.features {
  padding: 24px 23px 6px 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-brown);
  background-image: url(../img/wafer-pattern.png);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  margin-bottom: 40px;
}

.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-list-item {
  position: relative;
  width: 484px;
  padding-left: 55px;
  margin-bottom: 23px;
}

.features-list-item:nth-child(even) {
  margin-right: -4px;
}

.icecream-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/icecream-icon.svg);
  top: -8px;
  left: 0;
}

.cow-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/cow-icon.svg);
  top: -8px;
  left: 0;
}

.leaf-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/leaf-icon.svg);
  top: -8px;
  left: 0;
}

.thermometer-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/cooling-icon.svg);
  top: -8px;
  left: 0;
}

/* news subscription */


.news-subscription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.blog-article {
  width: 540px;
  height: 197px;
  padding-top: 23px;
  padding-left: 20px;
  background-color: var(--basic-white);
  background-image: url(../img/strawberry-background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-article a {
  font-weight: 500;
  color: var(--basic-black);
}

.blog-article a:hover,
.blog-article a:active {
  color: var(--basic-red);
}

.blog-article h3 {
  margin: 0;
  margin-right: 253px;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline #353535 2px;
}

.form-wrapper {
  padding: 5px 6px;
  background-image: url(../img/post-background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription-form {
  height: 145px;
  background-color: var(--basic-grey);
  border-radius: 16px;
  font-weight: normal;
  color: var(--basic-black);
  padding: 29px 16px 36px 20px;
}

.subscription-form p {
  margin: 0;
  margin-bottom: 40px;
  margin-top: -4px;
  margin-left: 2px;
  padding: 0;
}

.subscription-form input {
  width: 368px;
  height: 44px;
  background: var(--basic-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px;
  margin-left: 2px;
  margin-right: 8px;
}

.btn-subscription {
  border: none;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 19px;
}

/* map-and-contacts */

.map-and-contacts {
  margin-bottom: 18px;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
  background: #FEFEFE;
  border-radius: 16px;
}

.contacts-adress,
.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-phone:hover,
.contacts-phone:active {
  color: var(--basic-red);
}

.btn-feedback-form {
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* footer */

.page-footer {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social {
  align-self: center;
}

.footer-social ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-btn {
  width: 32px;
  height: 32px;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: var(--basic-white);
  margin-right: 8px;
}

.social-btn:hover path,
.social-btn:focus path{
  fill-opacity: 1;
}

.social-btn:active{
  border-color: rgba(255, 255, 255, 0.7);
}

.footer-nav {
  align-self: center;
  justify-self: center;
}

.footer-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.footer-nav-list li {
  margin-bottom: 11px;
}

.footer-nav-list a {
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: var(--basic-red-light);
}

.footer-nav-list span {
  font-weight: bold;
  position: relative;
}

.footer-nav-list span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  left: -20px;
  top: 2px;
}

.footer-copyright {
  font-size: 12px;
  justify-self: end;
}

.footer-copyright a {
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

/* popup-feedback */

.popup-feedback {
  background-color: var(--basic-grey);
}

.popup-feedback .popup-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-black);
}

.btn-popup {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
}

/* catalog main*/

.catalog-title{
  margin: 0 0 28px;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.catalog-breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: -26px 0 2px 0;
  padding: 0;
}

.catalog-breadcrumbs li {
  margin-right: 23px;
  position: relative;
}

.catalog-breadcrumbs li:last-child {
  margin: 0;
}

.catalog-breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  width: 6px;
  height: 6px;
  background-image: url(../img/breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-breadcrumbs a{
  color: var(--basic-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-breadcrumbs a:not([href]) {
  border-bottom: none;
}

/* filter */

.filter{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.filter-form fieldset {
  margin:0 ;
  margin-right: 15px;
  margin-bottom: 14px;
  padding: 0;
  border: none;
}

.filter-form legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 17px;
  margin-bottom: 6px;
}

.sort,
.range-controls,
.fat-filter,
.fill-filter {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.sort {
  color: var(--basic-white);
  padding: 8px 34px 10px 16px;
  border: none;
  appearance: none;
  position: relative;
  background-image: url(../img/marker-select.svg);
  background-repeat: no-repeat;
  background-position: 170px center;
  cursor: pointer;
}

.sort:hover,
.sort:focus {
  color: var(--basic-black);
  background-image: url(../img/marker-select-hover.svg);
}

.sort option {
  color: var(--basic-black);
}

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;
  height: 20px;
  padding: 16px 21px 0 21px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 37px;
  width: 50%;
  height: 2px;
  background-color: var(--basic-grey);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 10px;
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  transform: scale(1.1);
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.fat-filter {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 17px;
}

.fat-filter label{
  padding-left: 48px;
}

.fat-filter label,
.fill-filter label{
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 16px;
  top: -3px;
  width: 14px;
  height: 14px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 23px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  border-color: var(--basic-white) ;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after{
  background-color: var(--basic-white);
}

.filter-input-radio:disabled + label::before {
  border-color: rgba(255, 255, 255, 0.4) ;
}

.filter-input-radio:checked:disabled + label::after{
  background-color: rgba(255, 255, 255, 0.4);
}

.fill-filter {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 28px;
}

.fill-select legend {
  margin-top: -2px;
  margin-bottom: 8px;
}

.fill-filter label {
  padding-left: 49px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 0;
  width: 21px;
  height: 21px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 0;
  width: 24px;
  height: 21px;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked +label::before {
  display: none;
}

.btn-filter {
  height: 36px;
  align-self: center;
  margin-top: 9px;
  padding: 0 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-filter:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px #696969;
}

/* catalog */

.catalog-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  column-gap: 26px;
  row-gap: 19px;
  margin-bottom: 57px;
}

.catalog-item a{
  color: var(--basic-white);
}

.catalog-item img {
  border-radius: 50%;
}

/* pagination */

.pagination {
  position: relative;
  z-index: 10;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-right: -10px;
  margin-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination-item {
  width: 26px;
  height: 26px;
  text-align: center;
  margin-right: 5px;
  /* margin-right: 20px; */
}

.pagination-item:last-child {
  background-image: url(../img/pagination-icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0;
}

.pagination-disabled {
  background-image: url(../img/pagination-icon-left-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

/* .pagination li:last-child {
  margin-right: 33px;
} */

.pagination-item a{
  width: 26px;
  height: 26px;
  display: block;
  color: var(--basic-white);
  border-radius: 50%;
}

.pagination-item:hover a,
.pagination-item:focus a {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item:active a,
.pagination a:not([href]) {
  background: #FFFFFF;
  color: var(--basic-black);
}
