/* Variables */
:root {
  --basic-black: #323232;
  --basic-white: #ffffff;
  --basic-grey: #F8F7F4;
  --basic-dark-grey:#EDEDED;

  --basic-green: #849D8F;
  --basic-blue: #8996A6;
  --basic-brown: #9D8B84;

  --basic-pink: #D07058;
  --basic-pink-light: #F6B5A5;
  --basic-pink-extra-light: #FBDED7;

  --basic-red: #E84D37;
  --basic-red-light: #FFBC9E;
}

/* Global */

.page-body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* grid */

.page {
  height: 100%;
}

/* main-header */

.main-header {
  width: 1146px;
  margin: 0 auto;
  display: grid;
  justify-content: start;
  padding-top: 9px;
  padding-left: 27px;
  padding-right: 27px;
}

/* logo */

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
}

/* Main navigation */

.main-nav {
  display: grid;
  width: 968px;
  grid-template-columns: 1fr auto;
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  align-self: center;
  margin: 0;
  margin-left: 24px;
  padding: 0;
}

.site-navigation a:not([href]) {
  background-color: var(--basic-pink);
  color: var(--basic-white);
}

.site-navigation a{
  color: var(--basic-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-navigation a:active {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

/* Sub menu */

.sub-menu {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.sub-menu a{
  color: var(--basic-black);
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: var(--basic-pink-extra-light);
  border-radius: 0;
}

.sub-menu a:active {
  background-color: var(--basic-pink-light);
}

.sub-menu span {
  font-weight: bold;
}

/* User navigation */

.user-navigation {
  align-self: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation a{
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Search */

.search {
  background: var(--basic-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

/* Enter */
.enter {
  background: var(--basic-grey);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.enter .login-restore,
.enter .new-registration{
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-black);
  text-decoration: underline rgba(50, 50, 50, 0.3);
}

.btn-enter {
  font-weight: bold;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

/* basket */

.user-navigation .basket-active {
  background: var(--basic-white);
  border-radius: 20px;
  color: var(--basic-black);
}

.products-in-backet {
  font-size: 13px;
  line-height: 16px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: var(--basic-black);
}

.basket-item {
  list-style: none;
}

.price-per-weight span{
  color: #ABABAB;
}

.total {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.user-navigation .btn-arrange {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
}

.user-navigation .btn-arrange:hover,
.user-navigation .btn-arrange:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
  color: var(--basic-white);
}

.user-navigation .btn-arrange:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* working hours */
.working-hours {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  justify-self: end;
  grid-column: 2/3;
}

.working-hours a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.working-hours a:hover,
.working-hours a:active{
  color: var(--basic-red-light);
}

.slider {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.btn-slider {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Promotions */

.promotions {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.promotions-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promotion-item {
  width: 560px;
  height: 229px;
  border-radius: 16px;
}

.promo-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin: 16px;
  padding: 0;
}

.promo-text {
  margin: 16px 30px 16px 16px;
  padding: 0;
}

.promotion-item:nth-child(1) {
  background-color: var(--basic-red);
  background-image: url(../img/raspberry-background.png);
  background-repeat: no-repeat;
}

.promotion-item:nth-child(2) {
  background-color: var(--basic-red);
  background-image: url(../img/chocolate-background.png);
  background-repeat: no-repeat;
}

.btn-promotion {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Hit products */

.hit-products {
  font-weight: 500;
  display: grid;
  column-gap: 26px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
}

.hit-products a {
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);;
}

.hit-product-item img {
  border-radius: 50%;
}

.product-title{
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price span{
  font-size: 30px;
  line-height: 35px;
}

.btn-fast-view {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

/* features */

.features {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-brown);
  background-image: url(../img/wafer-pattern.png);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  margin-bottom: 40px;
}

.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 33px;
  margin: 0;
  padding: 0;
}


.features-list-item:nth-child(2n){
  grid-row: 2/3;
}

/* news subscription */


.news-subscription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.blog-article {
  background-color: var(--basic-white);
  background-image: url(../img/strawberry-background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-article a {
  font-weight: 500;
  color: var(--basic-black);
}

.blog-article a:hover,
.blog-article a:active {
  color: var(--basic-red);
}

.blog-article h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline #353535 2px;
}

.form-wrapper {
  background-image: url(../img/post-background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.subscription-form {
  background-color: var(--basic-grey);
  border-radius: 16px;
  font-weight: normal;
  color: var(--basic-black);
}

.btn-subscription {
  border: none;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* map-and-contacts */

.map-and-contacts {
  margin-bottom: 18px;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
  background: #FEFEFE;
  border-radius: 16px;
}

.contacts-adress,
.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts-phone:hover,
.contacts-phone:active {
  color: var(--basic-red);
}

.btn-feedback-form {
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* footer */

.page-footer {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.page-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social ul{
  list-style: none;
}

.footer-social a {
  color: var(--basic-white);
}

.footer-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav-list a {
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.footer-nav-list a:hover,
.footer-nav-list a:active {
  color: var(--basic-red-light);
}

.footer-nav-list span {
  font-weight: bold;
}

.footer-copyright {
  font-size: 12px;
  justify-self: end;
}

.footer-copyright a {
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

/* popup-feedback */

.popup-feedback {
  background-color: var(--basic-grey);
}

.popup-feedback .popup-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-black);
}

.btn-popup {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
}

/* catalog main*/

.catalog-title{
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.catalog-breadcrumbs {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog-breadcrumbs a{
  color: var(--basic-white);
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.catalog-breadcrumbs a:not([href]) {
  text-decoration: none;
}

/* filter */

.filter{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.filter-form legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sort {
  color: var(--basic-white);
}

.sort,
.cost-filter,
.fat-filter,
.fill-filter {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

/* catalog */

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* Случайно отправил в прошлый пул реквест и дз по каталогу)0 */
}

.catalog-item a{
  color: var(--basic-white);
}

.catalog-item img {
  border-radius: 50%;
}

/* pagination */

.pagination {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination a{
  color: var(--basic-white);
}

.pagination a:not([href]) {
  background: #FFFFFF;
  color: var(--basic-black);
}
